<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="text-center">Account</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        Name: <%= @user.name %>
      </div>

      <div class="mb-3">
        Email: <%= @user.email %>
      </div>

      <%= image_tag avatar_path(f.object), class: "rounded border shadow-sm d-block mx-auto my-3" %>

      <div class="mb-3 d-grid">
        <%= f.submit "Save Changes", class: 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
    <hr>

    <p class="text-center"><%= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>
  </div>
</div>
